@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    background-color: #121212;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0px;
}

@font-face {
    font-family: "Logo";
    src: url("./TheHistoriaDemo.otf");
    font-style: normal;
  }

header {
    position: fixed;
    z-index: 69;
    width: 105%;
    height: 80px;
    margin: 0;
    margin-left: -5%;
    margin-top: -10px;
    background-color: #121212;
    box-shadow: 0 0 0 100vmax #00121212;
    clip-path: inset(0 -100vmax);
    padding: 0;
    display: grid;
    border-bottom: 1px solid rgba(255, 255, 255, 0.233);
}
.headerDiv {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 11.5%;
}
.logoImg {
    position: relative;
    padding: 3px;
    border-radius: 10px;
    background-color: #1212123c;
    width: 150px;
    z-index: 20;
    margin-top: 10px;
    user-select: none;
    
}
.walletBtn {
    background: transparent;
    border: none;
    font-size: 25px;
    margin-top: 15px;
    color: #561DE2;
    cursor: pointer;
}
.walletBtn:hover {
    color: #fff;
}

.modal {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 80;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121211;
}
.modalTitle {
    width: 300px;
    height: 70px;
}
.matamask {
    margin: 0 auto;
    width: 220px;
}

.modal-header .close-button {
    border: none;
    background: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.membersCardOutter {
    width: 115%;
    margin-left: -7.5%;
    margin-top: 10px;
    height: 230px;
    overflow: hidden;
}
.modal-wallet-card {
    border: 1px solid rgba(255, 255, 255, 0.009);
    border-radius: 10px;
    background: #121212;
    box-shadow:  6px 6px 24px #070707,
                -6px -6px 12px #1d1d1d;
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    height: 150px;
    padding: 10px 15px;
}
.wallet-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.walletCardLogo {
    width: 120px;
}
.walletButtonCard {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.773);
    font-size: 1.25rem;
    cursor: pointer;
}
.walletButtonCard:hover {
    color: #551de2a8;
}
.wallet-card-body {
    height: 90px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.418);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.wallet-card-body p {
    color: rgba(255, 255, 255, 0.332);
    margin-top: 10px;
    margin-left: 5px;
    user-select: none;
}
.wallet-card-body .balance {
    margin-top: -10px;
}
.user-public-key, .balance span{
    color: #fff;
}
.pastTransactions-title {
    margin-top: 30px;
    font-size: 12px;
}
.modal-body-one {
    padding: 1px;
    display: flex;
    width: 355px;
    margin: 0 auto;
    justify-content: space-between;
}
.mintLogo {
    display: flex;
    width: 210px;
}
.mintBtn {
    width: 90px;
    margin-top: 5px;
    margin-right: -15px;
    display: grid;
}
.mintBtn button {
    background-color: transparent;
    color: rgb(13, 174, 13);
    font-weight: 200;
    padding: 5px;
    border: none;
    border-radius: 10%;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.mintBtn button:hover {

    color: rgb(0, 255, 0);
}
.modal-body-one h2 {
    color: #fff;
    font-family: 'logo';
    font-weight: 100;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.modal-body-one h3 {
    font-size: 15px;
    font-weight: 300px;
    color: rgba(255, 255, 255, 0.289);
    letter-spacing: 0px;
    margin: 0;
    margin-top: 36px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.modal-body {
    margin-top: -10px;
    padding: 10px 15px;
}
.modal-body p {
    user-select: none;
    text-align: justify;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.597);
}
.modal-body p a {
    text-decoration: none;
    color: #7F4BD2;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #121212;
    transition: 200ms ease-in-out;
    z-index: 75;
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* 
rgba(255, 255, 255, 0.004) */
.main {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
}

.landingGif {
    width: 460px;
    height: 310px;
    max-width: 88%;
    background-image: url('./img/one.gif');
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 70%;
    display: grid;
    margin: 0 auto;
}

.introductionBox {
    width: 40vw;
    height: 500px;
    max-width: 88%;
    overflow: hidden;
    max-height: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: auto;
}
.userLogin {
    width: 300px;
    border-radius: 10px;
    background: #121212;
    box-shadow:  6px 6px 24px #070707,
                -6px -6px 12px #1d1d1d;

}
.gameLogo {
    text-align: center;
    font-family: 'Silkscreen', cursive;
    color: #5f2ae6;
    font-weight: 400;
    user-select: none;
    font-size: 40px;
    margin: 0;
}
.smallLogoGame {
    font-family: 'Logo';
    font-weight: 100;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.845);
    text-align: center;
    margin: 0;
    margin-top: -25px;
    margin-bottom: 10px;
}
.secondMain {
    width: 100%;
    height: 100vh;
}
/* .underDev {
    display: none;
} */
.underDev {
    margin: 0 auto;
    width: 40vw;
}
.underDev h2 {
    color: #fff;
    font-family: 'logo';
    font-size: 90px;
    font-weight: 100;
    text-align: center;
    margin: 0;
}

.secondMainSub {
    color: rgba(255, 255, 255, 0.467);
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 22px;
    margin-top: -60px;
    margin-right: 27%;
}

.secondMainP {
    width: 80%;
    margin: 0 auto;
    margin-right: 5%;
    margin-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.171);
    font-family: 'Raleway', sans-serif;
}
.secondMainPOne {
    width: 80%;
    margin: 0 auto;
    margin-right: 5%;
    margin-top: 10px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.171);
    font-family: 'Raleway', sans-serif;
}

.thirdMain {
    width: 100%;
    height: 100vh;
    background-color: #000;
    box-shadow: 0 0 0 100vmax #000;
    clip-path: inset(0 -100vmax);
}

.footer {
    width: 100%;
    height: 50vh;
    margin-left: 5%;
    color: rgba(255, 255, 255, 0.538);
}
.footer h3 {
    font-family: 'Logo';
    font-size: 40px;
    margin: 0;
    user-select: none;
    margin-top: 20px;
    text-align: center;
    padding: 0;
    color: rgba(255, 255, 255, 0.751);
    font-weight: 100;
}
.club {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    user-select: none;
    text-align: center;
    margin-top: -30px;
}
.info {
    text-align: justify;
    width: 80%;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 100;
    user-select: none;
}
.leanCup {
    width: 250px;
    float: right;
    margin-right: 10vw;
}
.socialIcon {
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    color: #7F4BD2;
}
.socialIcon:hover {
    color: #fff;
}


.dev {
    width: 120%;
    margin-left: -5%;
    height: 60vh;
    background-color: #fff;
    margin-top: -10vh;
    padding: 0;
    z-index: 30;
}

.devInfo {
    width: 160px;
    height: 150px;
    overflow: hidden;
    float: right;
    margin-right: -200px;
    margin-top: 17vh;
    text-align: center;
    background: #ffffff;
    box-shadow:  5px 5px 10px #ebebeb,
                -5px -5px 10px #ffffff;
    border-radius: 10px;
}
.devP {
    width: 150px;
    font-weight: 900;
    text-align: center;
    color: #7F4BD2;
    font-size: 25px;
    padding: 5px;
    user-select: none;
}
.github {
    text-decoration: none;
    color: #7F4BD2;
    font-weight: 100;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    z-index: 67;
}
.smallText {
    font-size: 20px;
}
.lastFooter {
    width: 120%;
    z-index: 20;
    margin-left: -5%;
    height: 60vh;
}
.halfWhite {
    margin-left: -10%;
    height: 30vh;
    background-color: #fff;
}
.frankula {
    margin-left: 20%;
    margin-top: -20%;
    position: relative;
    width: 800px;
    
}
.delineationSmallText {
    color: #7F4BD2;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}

.contact {
    height: 7vh;
    width: 200px;
    padding-left: 20px;
}
.footerTextContact {
    margin-bottom: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.footerTextContact i {
    font-size: 15px;
}
.footerTextContact a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.432);
}

@media screen and (max-width: 800px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .underDev {
        margin: 0 auto;
        width: 80vw;
    }
    .main {
        grid-template-columns: auto;
        padding: 0;
        width: 100%;

    }
    .landingGif {
        margin-top: -1vh;
        width: 360px;
        height: 460px;
        
    }
    
    .introductionBox {
        width: 90vw;
        margin-top: -30vh;
        margin-bottom: 0px;
    }
    .secondMainSub {
        margin-right: 16%;
    }
    .footerGif {
        margin-top: -80px;
        width: 110%;
        margin-left: 54%;
    }
    .leanCup {
        margin-right: 10px;
    }
    .dev {
        width: 120%;
        background-image: url("./img/dev.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .lastFooter {
        height: 40vh;
    }
    .halfWhite {
        height: 30vh;
    }
    .frankula {
        margin-top: -2%;
        margin-left: 12%;
        width: 400px;
    }
    .contact {
        margin-top: 20px;
    }
    .footerTextContact {
        text-decoration: none ;
        color: rgba(255, 255, 255, 0.432);
        overflow: hidden;
        width: 170px;
        line-height: 20px;
        letter-spacing: 1px;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .footerTextContact i {
        font-size: 10px;
    }
    .footerTextContact a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.432);
    }
}

@media screen and (max-width: 480px) {
   
    .main {
        width: 110vw;
        margin-top: 20px;
        margin-left:-1vw ;
        justify-content: space-evenly;
    }
    .landingGif {
        width: 110vw;
        height: 460px;
    }
    
    .introductionBox {
        width: 110vw;
        margin-top: -30vh;
    }

    .secondMainSub {
        margin-right: 6%;
    }
    .modal-body-one {
        width: 325px;
    }
    .mintBtn {
        margin-right: 0;
        margin-right: -10px;
    }
    .dev {
        margin-top: 55px;
        margin-bottom: -10px;
    }
    .devInfo {
        margin-top: 15vh;
        z-index: -10;
        height: 13vh;
        border-radius: 10px;
        background: #ffffff;
        box-shadow:  5px 5px 10px #ebebeb,
                    -5px -5px 10px #ffffff;
        background-color: transparent;
        margin-right: -280px;
    }
    .devP {
        font-size: 15px;
        font-style: bold;
    }
    .github {
        font-size: 20px;
    }
    .frankula {
        margin-top: 30px;
    }
    .halfWhite {
        height: 40vh;
    }
    .smallText {
        font-size: 20px;
    }
    .contact {
        margin-top: 90px;
    }
}

@media screen and (max-height: 700px) {
    
    .contact {
        margin-top: 20vh;
    }
    .dev {
        background-color: #fff;
        height: 80vh;
        width: 120%;
    }
    .devInfo {
        color: #561DE2;
        background-color: transparent;
        margin-top: 25vh;
    }
}

