@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');

body {
    background-color: #121212;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0px;
}

@font-face {
    font-family: "Logo";
    src: url("./TheHistoriaDemo.otf");
    font-style: normal;
  }

header {
    position: fixed;
    z-index: 69;
    width: 105%;
    height: 80px;
    margin: 0;
    margin-left: -4%;
    margin-top: -10px;
    background-color: #121212;
    box-shadow: 0 0 0 100vmax #00121212;
    clip-path: inset(0 -100vmax);
    padding: 0;
    padding-left: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.233);
    /* background-color: #000;
    box-shadow: 0 0 0 100vmax #000; */
    clip-path: inset(0 -100vmax);
}
.subLogo {
    position: absolute;
    width: 100px;
    margin-left: 5px;
    margin-top: -10px;
    z-index: 0;
    user-select: none;
}

.logoImg {
    position: relative;
    padding: 3px;
    border-radius: 10px;
    background-color: #1212123c;
    width: 150px;
    z-index: 20;
    margin-left: 70px;
    margin-top: 10px;
    user-select: none;
}
.walletBtn {
    background: transparent;
    margin-top: 30px;
    margin-right: 7%;
    border: none;
    font-size: 25px;
    color: #561DE2;
    cursor: pointer;
    float: right;
}
.walletBtn:hover {
    color: #fff;
}

.modal {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 80;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121211;
}
.modalTitle {
    width: 300px;
    height: 70px;
}
.matamask {
    margin: 0 auto;
    width: 220px;
}

.modal-header .close-button {
    border: none;
    background: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.modal-wallet-card {
    border: 1px solid rgba(255, 255, 255, 0.264);
    width: 300px;
    margin: 0 auto;
    margin-left: -6px;
    height: 150px;
    border-radius: 10px;
    padding: 10px 15px;
}
.wallet-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.walletCardLogo {
    width: 120px;
}
.walletButtonCard {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.773);
    font-size: 1.25rem;
    cursor: pointer;
}
.walletButtonCard:hover {
    color: #551de2a8;
}
.wallet-card-body {
    height: 90px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.418);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.wallet-card-body p {
    color: rgba(255, 255, 255, 0.332);
    margin-top: 10px;
    margin-left: 5px;
    user-select: none;
}
.wallet-card-body .balance {
    margin-top: -10px;
}
.user-public-key, .balance span{
    color: #fff;
}
.pastTransactions-title {
    margin-top: 30px;
    font-size: 12px;
}
.modal-body-one {
    padding: 1px;
    display: flex;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 9px;
    justify-content: space-between;
}
.mintLogo {
    display: flex;
    width: 210px;
}
.mintBtn {
    width: 90px;
    margin-top: 2px;
    display: grid;
}
.mintBtn button {
    background-color: transparent;
    color: rgb(13, 174, 13);
    font-weight: 200;
    padding: 5px;
    border: none;
    border-radius: 10%;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.mintBtn button:hover {

    color: rgb(0, 255, 0);
}
.modal-body-one h2 {
    color: #fff;
    font-family: 'logo';
    font-weight: 100;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.modal-body-one h3 {
    font-size: 15px;
    font-weight: 300px;
    color: rgba(255, 255, 255, 0.289);
    letter-spacing: 0px;
    margin: 0;
    margin-top: 36px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.modal-body {
    padding: 10px 15px;
    margin-top: 20px;
}
.modal-body p {
    user-select: none;
    text-align: justify;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.597);
}
.modal-body p a {
    text-decoration: none;
    color: #7F4BD2;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #121212;
    transition: 200ms ease-in-out;
    z-index: 75;
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* 
rgba(255, 255, 255, 0.004) */
.main {
    width: 100%;
    height: 100vh;
    background-color: #121212;
    box-shadow: 0 0 0 100vmax #121212;
    clip-path: inset(0 -100vmax);
}

.gifTwo {
    margin-top: 10%;
    margin-left: 20%;
    width: 300px;
    border-radius: 10px;
}

.secondMain {
    width: 100%;
    height: 100vh;
}

.thirdMain {
    width: 100%;
    height: 100vh;
    background-color: #000;
    box-shadow: 0 0 0 100vmax #000;
    clip-path: inset(0 -100vmax);
}

.footer {
    width: 100%;
    height: 50vh;
    color: rgba(255, 255, 255, 0.538);
}
.footer h3 {
    font-family: 'Logo';
    font-size: 40px;
    margin: 0;
    margin-top: 20px;
    text-align: center;
    padding: 0;
    color: rgba(255, 255, 255, 0.751);
    font-weight: 100;
}
.club {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    margin-top: -30px;
}
.info {
    text-align: justify;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 100;
}
.leanCup {
    width: 250px;
    float: right;
}
.socialIcon {
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    color: #7F4BD2;
}
.socialIcon:hover {
    color: #fff;
}

.dev {
    width: 110%;
    margin-left: -5%;
    height: 60vh;
    background-color: #fff;
    background-image: url("./img/dev.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10vh;
    padding: 0;
}
.devInfo {
    width: 160px;
    height: 150px;
    overflow: hidden;
    float: right;
    margin-top: 17vh;
    margin-right: -15%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.481);
    border-radius: 10px;
}
.devP {
    width: 150px;
    font-weight: 900;
    text-align: center;
    color: #7F4BD2;
    font-size: 25px;
    padding: 5px;
    user-select: none;
}
.github {
    text-decoration: none;
    color: #7F4BD2;
    font-weight: 100;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.smallText {
    font-size: 20px;
}
.lastFooter {
    width: 100%;
    height: 40vh;
}
.delineationSmallText {
    color: #7F4BD2;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}
footer {
    display: none;
    width: 110%;
    margin-left: -5%;
    height: 29vh;
    overflow: hidden;
    background-image: url("./img/three.GIF");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid rgba(255, 255, 255, 0.233);
}


@media screen and (max-width: 800px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .subLogo {
        width: 100px;
        margin-left: -4%;
        margin-top: -3%;
    }
    .walletBtn {
        margin-right: 15%;
    }
    .logoImg {
        margin-left: 50px;
    }
    .gifTwo {
        margin-top: 30vh;
        border-radius: 15px;
        width: 45%;
    }
    .footerGif {
        margin-top: -80px;
        width: 110%;
        margin-left: -4%;
    }

    
    footer {
        display: block;
    }
    .footerTextContact {
        text-decoration: none ;
        color: rgba(255, 255, 255, 0.432);
        overflow: hidden;
        width: 170px;
        line-height: 20px;
        letter-spacing: 1px;
        font-size: 10px;
        margin-top: 15vh;
        font-family: 'Montserrat', sans-serif;
        margin-left: 10%;
    }
    .footerTextContact i {
        font-size: 15px;
    }
    .footerTextContact a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.432);
    }
}

@media screen and (max-width: 480px) {
    


    .dev {
        height: 65vh;
        width: 120%;
        margin-top: 30px;
        margin-left: -40px;
    }
    .devInfo {
        margin-top: 13vh;
        z-index: -10;
        background-color: transparent;
        margin-right: -250px;
    }
    .devP {
        font-size: 20px;
        font-style: bold;
    }
    .github {
        font-size: 20px;
    }
    .smallText {
        font-size: 20px;
    }
    .footerTextContact {
        margin-left: 5%;
    }
}

@media screen and (max-height: 780px) {
    .devP {
        display: none;
    }
    .dev {
        background-color: #fff;
        height: 70vh;
        width: 120%;
        margin-left: -40px;
    }
    .devInfo {
        color: #561DE2;
        background-color: transparent;
        margin-top: 30vh;
    }
}

