@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

body {
    background-color: #121212;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0px;
}

@font-face {
    font-family: "Logo";
    src: url("./TheHistoriaDemo.otf");
    font-style: normal;
  }

header {
    position: fixed;
    z-index: 696969;
    width: 102%;
    height: 80px;
    margin: 0;
    margin-left: -2%;
    margin-top: -10px;
    background-color: #121212;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.233);
    /* background-color: #000;
    box-shadow: 0 0 0 100vmax #000; */
    clip-path: inset(0 -100vmax);
}
.subLogo {
    position: absolute;
    width: 100px;
    margin-left: 5px;
    margin-top: -10px;
    z-index: 0;
    user-select: none;
}

.logoImg {
    position: relative;
    padding: 3px;
    border-radius: 10px;
    background-color: #1212123c;
    width: 150px;
    z-index: 2000;
    margin-left: 70px;
    margin-top: 10px;
    user-select: none;
}
.walletBtn {
    background: transparent;
    margin-top: 25px;
    margin-right: 6%;
    border: none;
    font-size: 25px;
    color: #561DE2;
    cursor: pointer;
    float: right;
}
.walletBtn:hover {
    color: #fff;
}
/* 
rgba(255, 255, 255, 0.004) */
.main {
    width: 100%;
    height: 150vh;
    background-color: #121212;
    box-shadow: 0 0 0 100vmax #121212;
    clip-path: inset(0 -100vmax);
}
.gifTwo {
    margin-top: 30%;
    margin-left: 20%;
    width: 300px;
    border-radius: 10px;
}

.secondMain {
    width: 100%;
    height: 100vh;
}

.thirdMain {
    width: 100%;
    height: 100vh;
    background-color: #000;
    box-shadow: 0 0 0 100vmax #000;
    clip-path: inset(0 -100vmax);
}

.footer {
    width: 100%;
    height: 50vh;
    color: rgba(255, 255, 255, 0.538);
}
.footer h3 {
    font-family: 'Logo';
    font-size: 40px;
    margin: 0;
    margin-top: 20px;
    text-align: center;
    padding: 0;
    color: rgba(255, 255, 255, 0.751);
    font-weight: 100;
}
.club {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    margin-top: -30px;
}
.info {
    text-align: justify;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 100;
}
.leanCup {
    width: 250px;
    float: right;
}
.socialIcon {
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    color: #7F4BD2;
}
.socialIcon:hover {
    color: #fff;
}

.dev {
    width: 110%;
    margin-left: -5%;
    height: 60vh;
    background-color: #fff;
    background-image: url("./img/dev.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10vh;
    padding: 0;
}
.devInfo {
    width: 160px;
    height: 150px;
    overflow: hidden;
    float: right;
    margin-top: 17vh;
    margin-right: -15%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.481);
    border-radius: 10px;
}
.devP {
    width: 150px;
    font-weight: 900;
    text-align: center;
    color: #7F4BD2;
    font-size: 25px;
    padding: 5px;
    user-select: none;
}
.github {
    text-decoration: none;
    color: #7F4BD2;
    font-weight: 100;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.smallText {
    font-size: 20px;
}
.lastFooter {
    width: 100%;
    height: 40vh;
}
.delineationSmallText {
    color: #7F4BD2;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}
footer {
    display: none;
    width: 110%;
    margin-left: -5%;
    height: 29vh;
    overflow: hidden;
    background-image: url("./img/three.GIF");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid rgba(255, 255, 255, 0.233);
}
.footerTextContact {
    text-decoration: none ;
    color: rgba(255, 255, 255, 0.432);
    overflow: hidden;
    width: 170px;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 10px;
    margin-top: 15vh;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
}
.footerTextContact i {
    font-size: 15px;
}
.footerTextContact a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.432);
}

@media screen and (max-width: 800px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .subLogo {
        width: 100px;
        margin-left: -4%;
        margin-top: -3%;
    }
    .logoImg {
        margin-left: 50px;
    }
    .gifTwo {
        margin-top: 100vh;
        margin-left: -2%;
        border-radius: 0;
        width: 105%;
    }
    .footerGif {
        margin-top: -80px;
        width: 110%;
        margin-left: -4%;
    }

    
    footer {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .dev {
        margin-top: 0;
        height: 60vh;
    }
    .devInfo {
        margin-top: 12vh;
        margin-right: -250px;
    }
    .devP {
        font-size: 20px;
    }
    .github {
        font-size: 20px;
    }
}

@media screen and (max-height: 780px) {
    .devP {
        display: none;
    }
    .devInfo {
        margin-top: 25vh;
    }
}

