body {
    background-color: #121212;
}

body::-webkit-scrollbar {
    width: 0px;
}

header {
    position: fixed;
    z-index: 696969;
    width: 102%;
    height: 80px;
    margin: 0;
    margin-left: -2%;
    margin-top: -10px;
    background-color: #121212;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.233);
    /* background-color: #000;
    box-shadow: 0 0 0 100vmax #000; */
    clip-path: inset(0 -100vmax);
}
.subLogo {
    position: absolute;
    width: 100px;
    margin-left: 5px;
    margin-top: -10px;
    z-index: 0;
    user-select: none;
}

.logoImg {
    position: relative;
    padding: 3px;
    border-radius: 10px;
    background-color: #1212123c;
    width: 150px;
    z-index: 2000;
    margin-left: 70px;
    margin-top: 10px;
    user-select: none;
}
.walletBtn {
    background: transparent;
    margin-top: 25px;
    margin-right: 6%;
    border: none;
    font-size: 25px;
    color: #561DE2;
    cursor: pointer;
    float: right;
}
.walletBtn:hover {
    color: #fff;
}


.main {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 800px) {

    .subLogo {
        width: 100px;
        margin-left: -4%;
        margin-top: -3%;
    }
    .logoImg {
        margin-left: 50px;
    }
    .gifTwo {
        margin-top: 70%;
        margin-left: 10%;
    }
}