body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position: fixed;
  background-color: rgba(31, 45, 58, 0.505);
  width: 100%;
  height: 8vh;
  padding-top: 13px;
  padding-bottom: 3px;

  /* box-shadow: 0px 15px 40px -16px #ffffff3a; */
}

.logoImg {
  width: 150px;
  margin-left: 30px;
  cursor: pointer;
}

.game-screen {
  position: absolute;
  width: 80%;
  height: 60%;
  background-color: rgba(31, 45, 58, 0.505);
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 20vh;
  /* border: 2px solid #551de19d; */
}

@media screen and (max-width: 500px) {

  .navbar {
    height: 7vh;
    padding-top: 12px;
    padding-bottom: 5px;
  }

  .logoImg {
    width: 130px;
    margin-left: 10px;
  }

  .game-screen {
    width: 90%;
    margin-left: 4.5%;
    margin-top: 15vh;
  }
}
