body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: rgba(31, 45, 58, 0.36);
  width: 100%;
  height: 8vh;
  padding-top: 13px;
  padding-bottom: 3px;
  position: fixed;
}

.logoImg {
  width: 150px;
  margin-left: 30px;
  cursor: pointer;
}


@media screen and (max-width: 500px) {

  .navbar {
    height: 7vh;
    padding-top: 12px;
    padding-bottom: 5px;
  }

  .logoImg {
    width: 130px;
    margin-left: 10px;
  }
}
