body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgba(7, 7, 7, 0.948);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Logo";
  src: url("./TheHistoriaDemo.otf");
  font-style: normal;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 8vh;
  z-index: 699669;
  padding-top: 13px;
  padding-bottom: 3px;
  background-color: rgb(7, 7, 7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  /* box-shadow: 0px 15px 40px -16px #ffffff3a; */
}

.innerNavbar {
  width: 90%;
  margin: 0 auto;
  margin-top: -2px;
}

.navbarBtn {
  background-color: transparent;
  border: none;
  color: #551de2;
  font-size: 25px;
  float: right;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  margin-right: 10px;
}

.navbarBtn:hover {
  color: #ffffffe6;
}

.logoImg {
  width: 150px;
  margin-left: 30px;
  cursor: pointer;
}
.gameScreenOuter {
  width: 90%;
  position: absolute;
  margin-top: 10vh;
  margin-left: 5%;
  height: 80vh;
}

h1 {
  float: right;
  color: #ffffffb0;
  font-family: 'Logo';
  z-index: 0;
  font-size: 100px;
  font-weight: 100;
  margin-right: 29%;
  user-select: none;
  margin-top: -46vh;
}
h2 {
  font-size: 40px;
  color: #551de236;
  margin-right: 40%;
  user-select: none;
  margin-top: -29vh;
  float: right;
}

.letter {
  font-size: 130px;
}
.letterTwo  {
  font-size: 40px;
  
}
.game-screen {
  width: 350px;
  opacity: 1;
  z-index: 699;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.214);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20%;
  margin-left: 270px;
}

.main-area {
  width: 100%;
  position: absolute;
  color: #fff;
  background-color: #000;
  margin-top: 100vh;
  height: 91vh;
}

@media screen and (max-width: 500px) {

  .navbar {
    height: 7vh;
    padding-top: 12px;
    padding-bottom: 5px;
  }

  .logoImg {
    width: 130px;
    margin-left: 10px;
  }
  .navbarBtn {
    margin-top: 6px;
  }
  h1 {
    font-size: 50px;
    margin-right: 30px;
    margin-top: -24vh;
  }
  .letter {
    font-size: 60px;
  }
  .letterTwo {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
    margin-top: -15vh;
    margin-right: 100px;
  }
  .game-screen {
    width: 250px;
    height: 150px;
    margin-left: 20px;
  }

  .main-area {
    margin-top: 50vh;
  }
}
