body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgba(7, 7, 7, 0.948);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 8vh;
  padding-top: 13px;
  padding-bottom: 3px;
  background-color: rgba(7, 7, 7, 0.948);
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  /* box-shadow: 0px 15px 40px -16px #ffffff3a; */
}

.innerNavbar {
  width: 90%;
  margin: 0 auto;
  margin-top: -2px;
}

.navbarBtn {
  background-color: transparent;
  border: none;
  color: #551de2;
  font-size: 25px;
  float: right;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  margin-right: 10px;
}

.navbarBtn:hover {
  color: #ffffffe6;
}

.logoImg {
  width: 150px;
  margin-left: 30px;
  cursor: pointer;
}
.gameScreenOuter {
  width: 90%;
  position: absolute;
  margin-top: 10vh;
  margin-left: 5%;
  height: 80vh;
}
.game-screen {
  width: 350px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.294);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20%;
  margin-left: 70px;
}

@media screen and (max-width: 500px) {

  .navbar {
    height: 7vh;
    padding-top: 12px;
    padding-bottom: 5px;
  }

  .logoImg {
    width: 130px;
    margin-left: 10px;
  }
  .navbarBtn {
    margin-top: 6px;
  }
  .game-screen {
    width: 250px;
    height: 150px;
  }
}
